<div class="panel panel-primary">
  <div class="panel-heading">
    <h3>Tables Add New</h3>
  </div>
  <div class="panel-body">
    <table>
      <tr>
        <td>
          <label class="col-md-4">Code</label>
        </td>
        <td>
          <input class="form-control" #newCode />
        </td>
      </tr>
      <tr>
        <td>
          <label class="col-md-4">Seat</label>
        </td>
        <td>
          <input class="form-control" #newSeat />
        </td>
      </tr>
      <tr>
        <td>
          <label class="col-md-4">Description</label>
        </td>
        <td>
          <input class="form-control" #newDescription />
        </td>
      </tr>
    </table>
  </div>
</div>